.markdown pre {
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  background: #f3f3f3;
  color: #000000;
  padding: 16px;
  margin: 16px 0;
  overflow: auto;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border-radius: 0.25rem;
}

.markdown code {
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  font-size: 14px;
  padding: 2px 6px;
  background-color: antiquewhite;
  border-radius: 0.25rem;
}

.markdown code[class*="language-"] {
  font-size: 12px;
  line-height: 1.375;
  background-color: transparent;
  font-family: inherit;
  --code-string: #A31515;
  --code-comment: #008000;
  --code-variable: #001080;
  --code-keyword: #0000FF;
  --code-number: #098658;
  --code-function: #795E26;
  --code-class: #267F99;
}

.markdown__dark pre {
  background: #141414;
  color: #D4D4D4;
}

.markdown__dark code[class*="language-"] {
  --code-string: #CE9178;
  --code-comment: #6A9955;
  --code-variable: #9CDCFE;
  --code-keyword: #569CD6;
  --code-number: #B5CEA8;
  --code-function: #DCDCAA;
  --code-class: #4EC9B0;
}

@media screen and (min-width: 678px) {
  .markdown code[class*="language-"] {
    font-size: 14px;
  }
}

.markdown .token.comment, .markdown .token.prolog, .markdown .token.doctype, .markdown .token.cdata { color: var(--code-comment); }
.markdown .token.keyword { color: var(--code-keyword); }
.markdown .token.variable { color: var(--code-variable); }
.markdown .token.number { color: var(--code-number); }
.markdown .token.string { color: var(--code-string); }
.markdown .token.function, .markdown .token.class-name { color: var(--code-function); }
.markdown .token.builtin { color: var(--code-class); }
